
/* fonts and colors */
:root{
  --font-body: "Open Sans", sans-serif;
  --font-heading: "Helvetica Neue", sans-serif;

  --bg: #e6f2ff;
  --ink: #1a1a1a;
  --brand: #3f51b5;
  --shadow: 0 12px 28px rgba(0,0,0,.08);
  --radius: 10px;


  /* make Bootstrap use our body font */
  --bs-body-font-family: var(--font-body);
}

/* heading */
h1, h2, h3, h4, h5, h6,
.navbar-brand {
  font-family: "Open Sans", sans-serif, light;
  letter-spacing: .035em;
  font-weight: 400;
  margin: 0;
}


/* navigation menu css */
.navbar {
  background-color: #3f51b5;
}
.navbar-brand, .nav-link {
  color: #ffffff !important;
}
.device-title {
  color: #3f51b5;
  margin-top: 1rem;
}

.dropdown-menu {
    text-align: -webkit-left;
    background-color: #3f51b5;
    margin-top: 20px; /* Experiment to move the dropdown menu down */
    min-width: auto !important;
    width: fit-content !important;
}

.dropdown-menu
.dropdown-item {
    color: #ffffff; 
}

.dropdown-menu
.dropdown-item:hover {
    color: #030303;
    background-color: #ACC0C6;
}

/* body css*/ 
canvas {
  display: block;
  margin: auto;
  border: 2px solid #ccc;
  background-color: #fff;
}

.cardModel{
  background: var(--card);
  border: none;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding: clamp(1.25rem, 2.5vw, 2rem);
}
.cardModel h3{
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 100;
}

/* CSS rule to style the footer */
.footer {
    color: #FFF;
    background-color: #760003;
    height: 50px;
}

.copyright {
    padding-top: 13px;
}

.social {
    padding-top: 0px;
}

#threeContainer {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  /* height: 60vh; /* or 80vh / 100vh depending on how much space you want it to take */
  display: block;
  margin: 0 auto;
}


button {
 margin: 0.5rem;
 }


